{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<script src="https://kit.fontawesome.com/e5b57fda91.js" crossorigin="anonymous"></script>
	<title>Contuct Us</title>
</head>
<body>

	<nav>
	<div>Book Store website</div>

	<ul class="list">
		<li><a href="{%url 'index'%}">Home</a></li>
		<li><a href="{%url 'about'%}">About Us</a></li>
		<li><a href="{%url 'registration'%}">Registration</a></li>
		<li><a href="{%url 'login' %}">Login</a></li>
		<li><a href="{%url 'contuct'%}">Contact Us</a></li>
	</ul>

<div class="humburger">
	<i class="fa-solid fa-bars humburger-bars"></i>
</div>



</nav>

	<div class="hero"><h1>Contact Us</h1></div>



<div class="contact">


		<div class="intouch">
				<h3>Get in Touch With Us</h3>
				<ul>
					<li><h3>Our Address</h3>
						1247/Plot No. 39, 15th Phase, HColony, Kukatpally, Hyderabad</li>
					<li><h3>Our EmailM</h3>
						info@gmail
						services@gmail.com</li>
				</ul>
		</div>

	<div class="inputs">
				<p>CONTACT US</p>
			<h1>Get In Touch With Us</h1>

			<input type="name" name="Enter" placeholder="Full Name"required>
			<br>
			<br>
			<input type="email" name="Email" placeholder="Email Address"required>
			<br>
			<br>
			<input type="number" name="number" placeholder="Phone Number"required>
			<br>
			<br>

			<input type="password" name="Password" placeholder="Type Password"required>
			<br>
			<br>
			<textarea>Message</textarea>

	</div>
</div>


	<div class="fotter">

		<div>
			<h2><i class="fa-solid fa-book"></i>Book Land</h2>
				<p>Book Store Website</p>
				<p>Bookland is a Book Store<br> Ecommerce Website Template by<br> DexignZone lorem ipsum dolor sit</p>
		</div>



		<div>
				<h3>Our Links</h3>
				<ul>
					<li>About Us</li>
					<li>Contact Us</li>
					<li>Privacy Policy</li>
					<li>Princing Table</li>
					<li>FAQ</li>
				</ul>
		</div>


		<div>

				<h3>Bookland ?</h3>
				<ul>
					<li>Bookland</li>
					<li>Services</li>
					<li>Book Details</li>
					<li>Blog Details</li>
					<li>Shop</li>
				</ul>
		</div>


		<div>
				<h3>Resources</h3>
				<ul>
					<li>Download</li>
					<li>Help Center</li>
					<li>Shop Cart</li>
					<li>Login</li>
					<li>Partner</li>
				</ul>
		</div>


		<div>
				<h3>Get in Touch With Us</h3>
				<ul>
					<li>832 Thompson Drive, San <br>Fransisco CA 94107,US</li>
					<li>+123 345123 556<br>+123 345123 556</li>
					<li>support@bookland.id<br>info@bookland.id</li>
				</ul>
		</div>


	</div>

<script type="text/javascript" src="books.js"></script>

</body>
</html>